@keyframes rainDropLg {
    from {top: -241px}
    to {top: 100%;}
}
@keyframes rainDropMd {
    from {top: -241px}
    to {top: 100%;}
}
@keyframes rainDropSm {
    from {top: -241px}
    to {top: 100%;}
}

@keyframes wiggle{
    0% { transform: rotate(0deg); }
    20% { transform: rotate(0deg);}
    40% { transform: rotate(5deg); }
    60% { transform: rotate(-5deg) scale(1.065385); }
   100% { transform: rotate(0deg);}
}

.merch-rain-drop-container-lg{
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: transparent;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    width: 241px;
    animation: rainDropLg 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    cursor: pointer;
}

.merch-rain-drop-container-lg:hover{
    transform: scale(1.05385);    
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.merch-rain-drop-container-lg img{
    object-fit: cover;
    z-index: 3;
}

.merch-drop-top-lg, .merch-drop-bot-lg{
    width: 241px;
    height: 53px;
}

.merch-drop-main-lg{
    width: 175px;
    height: 175px;
    align-content: center;
    margin: 0 auto;
    border-left: 6px solid black;
    border-right: 6px solid black;
}

.merch-rain-drop-container-md{
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: transparent;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    width: 193px;
    animation: rainDropMd 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    cursor: pointer;
}

.merch-rain-drop-container-md:hover{
    transform: scale(1.05385);    
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.merch-rain-drop-container-md img{
    object-fit: cover;
    z-index: 3;
}

.merch-drop-top-md, .merch-drop-bot-md{
    width: 193px;
    height: 42px;
}


.merch-drop-main-md{
    width: 140px;
    height: 140px;
    align-content: center;
    margin: 0 auto;
    border-left: 6px solid black;
    border-right: 6px solid black;
}

.merch-rain-drop-container-sm{
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: transparent;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    width: 154px;
    animation: rainDropSm 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    cursor: pointer;
}

.merch-rain-drop-container-sm:hover{
    transform: scale(1.05385);    
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.merch-rain-drop-container-sm img{
    object-fit: cover;
    z-index: 3;
}

.merch-rain-drop-container-sm img:hover{
    z-index: 4;
}

.merch-drop-top-sm, .merch-drop-bot-sm{
    width: 154px;
    height: 34px;
}

.merch-drop-main-sm{
    width: 112px;
    height: 112px;
    align-content: center;
    margin: 0 auto;
    border-left: 4px solid black;
    border-right: 4px solid black;
}

