/* Radial Menu */

.radial-menu-outer{
    position: absolute;
    top: 0;
    left: 0;
}

.radialText{
    color: black;
}

.radialText:hover{
    color: rgba(86,223,240,1.0);
}

#static-container{
    position: fixed;
    z-index: 4;
}

#menuBacking{
    z-index: 4;
    position: absolute;
    left: -48px;
    top: -48px;
    height: 288px;
    width: 288px;
}

#menu_circle_svg{
    z-index: 1;
    position: absolute;
    left: -48px;
    top: -48px;
    color: rgba(0,0,0,0.0);
}

#mainbtn {
    position:absolute;
    top:20px;
    left:60px;
    z-index:5;
}

#mainbtn img{
    position: absolute;
    top:0px;
    left:0px;
    width: 57px;
    height: 147px;
}

.circle-container {
    position: absolute;
    top:-50px;
    left:-47px;
    width: 100px;
    height: 100px;
    z-index:5;
}
.circle-container a {
    display: block;
    overflow: hidden;
    position: absolute;
    width: 64px; height: 32px;
    margin:50px;
    z-index: 5;
}

.circle-container i { display: block; width: 100px; }
.deg0 { transform: rotate(-25deg) translate(11em) rotate(-0deg);   -webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
transition: all 0.5s ease-out; 		z-index: 2;}
.deg30 { transform: rotate(-25deg) translate(12em) rotate(-30deg);  -webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
transition: all 0.5s ease-out; 		z-index: 2;}
.deg60 { transform: rotate(-25deg) translate(13em) rotate(-60deg);  -webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
transition: all 0.5s ease-out; 		z-index: 2;}
.deg90 { transform: rotate(-25deg) translate(13em) rotate(-90deg);  -webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
transition: all 0.5s ease-out; 		z-index: 2;}

.open.deg0 { transform: rotate(8deg) translate(8.5em) rotate(-8deg); }
.open.deg30 { transform: rotate(27deg) translate(11.5em) rotate(-27deg); }
.open.deg60 { transform: rotate(50deg) translate(12em) rotate(-50deg); }
.open.deg90 { transform: rotate(75deg) translate(12.5em) rotate(-75deg);}

#decorative-top-bar{
    width: 100%;
    height: 10px;
    position: fixed;
    background: white;
    z-index: 6;
}